@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  @apply m-0 p-0 overflow-x-hidden;
}

::-webkit-scrollbar {
  @apply w-1;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-500 rounded-full;
}

::-webkit-scrollbar-track {
  @apply bg-gray-50;
}

@layer base {
  :root {
    --primary: 221 50% 43%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 1% 29%;
    --primary-foreground: 0 0% 100%;
  }
}

.gradient-container {
  @apply w-screen bg-gradient-to-b from-white to-primary/20 overflow-y-hidden;
}

.size-container {
  @apply max-w-[1200px] mx-auto p-12;
}
